include ./blocks/header/header
include ./blocks/slider/slider
doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        title Ох уж эти Истомины!
    body
        +header("Наша семья", "Рома, Тима, Степа, я - очень дружная семья!")
        +slider()