doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')
        title our family
    body
        a(href='www.yandex.ru') yandex
        h1 our family's band