  
  /* alegreya-sans-500 - latin_cyrillic */
  @font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./alegreya-sans-v13-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'),
         url('./alegreya-sans-v13-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./alegreya-sans-v13-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./alegreya-sans-v13-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('./alegreya-sans-v13-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./alegreya-sans-v13-latin_cyrillic-500.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
  }
  

h1 {
    color: red;
    font-family: 'Alegreya Sans';
    font-size: 500;
}
body {
    background: url(./image.jpg);
}